@font-face {
    font-family: slackey;
    src: url(Slackey/Slackey-Regular.ttf) format('truetype');
    
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    background-color: bisque;
    min-height: 100vh;


}

header {
    background-color: rgb(17, 14, 9);
    background-image: url(Imagens/t4f3_bnlt126.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px rgb(40, 228, 56);
    height: 280px;
    margin-top: -39px;
    margin-right: -10px;
    margin-left: -10px;
    text-align: center;
    
}

header > h1 {
    font-family: slackey;
    font-size: 40pt;
    color: aliceblue;
    text-shadow: 2px 2px 3px black;
    padding: 60px;
    
}


header > h3 {
    font-family: slackey;
    text-shadow: 2px 2px 3px black;
    font-size: 20pt;
    color: aliceblue;
    margin-top: -80px
}

main {
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    font-size: 2.5vw;
    font-style: italic;



}

section#img1 {
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
    
}

section#img2 {
    background-image: url(pacote-d012/imagens/background002.jpg);
    
}

section {
    padding-bottom: 1vh;
    padding-top: 1vh;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    line-height: 2em;
    padding-left: 30px;
    
    
}


h2 {
    font-style: italic;
    font-size: 20pt;
}

section.img {
    background-color: rgba(255, 217, 0, 0);
    color: aliceblue;
    margin-bottom: -10px;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
}


section.normal {
    text-align: left;
    background-color:antiquewhite ;
    padding: 20px;
    background-repeat: no-repeat;
    color: rgb(10, 10, 10);
    margin: -10px;
    
    
    
}

div {
    background-color: rgba(0, 255, 255, 0.356);
    width: 50px;
    height: 180px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: fixed;
    margin-top: -300px;
    margin-left: 190vh;
}

.img1 {
    height: 50px;
}

.img2 {
    height: 50px;
}

.img3 {
    height: 50px;
}


aside {
    background-color: rgba(165, 42, 42, 0.904);
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
    text-align: center;
    margin-left: 1000px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: fixed;
    border: 2px solid black;
    

    bottom: 20px;
    
    
}

img {
    height: 230px;
}


#milton {
    color: purple;
}


footer{
    background-color: goldenrod;
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px 0px black;
    padding: 5px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-size: 13pt;
    font-style: italic;
    
}


footer, a {
    text-decoration: none;
    color: aliceblue;
}

